@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-text;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .icon-btn {
        @apply hover:opacity-60 cursor-pointer p-1 rounded-lg transition duration-300;
    }
}
